### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [162]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [163]:
#create a one column dataframe for the number of players
total_players = pd.DataFrame(
                    # counts the unique screen names in the DF 
    {'Total Players' : [len(purchase_data['SN'].unique())]}
)
total_players.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [164]:
#create a list with all unique purchases and then get the length
unique_items = len(purchase_data['Item ID'].unique())
#find number of total purchases
num_purchases = len(purchase_data['Price'])
#get total revenue
sum_purchases = purchase_data['Price'].sum()
# get average purchase price 
avg_price = sum_purchases / num_purchases

# summary data frame
purchase_analysis = pd.DataFrame(
    {
        'Number of Unique Items' : [unique_items],
        'Average Purchase Price' : [round(avg_price, 2)],
        'Total Purchases' : [num_purchases],
        'Total Revenue' : [round(sum_purchases, 2)]
    }
)

purchase_analysis.head()

,Number of Unique Items,Average Purchase Price,Total Purchases,Total Revenue
0,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [165]:
# drops duplicate screen names resulting in a DF of unique players and their purchases
player_df = purchase_data.drop_duplicates('SN')
#finds list of all unique genders
genders = player_df['Gender'].value_counts()
#finds the distribution percentage
genders_perc = player_df['Gender'].value_counts(normalize=True)
#create summary data frame
gender_summary = pd.DataFrame(genders)
#add new column with percentages
gender_summary['Percentage of Players'] = genders_perc
#rename column header
gender_summary.rename(columns={'Gender':'Total Count'}, inplace=True)
#format percentages
gender_summary.style.format({
    'Percentage of Players': '{:,.2%}'
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:
#group purchases by gender
gender_df = purchase_data.groupby('Gender')
#count total purchases per gender
purchase_count = gender_df['Purchase ID'].count()
#find avergae purchase price per gender
avg_price = gender_df['Price'].mean()
#find total purchase value per gender
total_value = gender_df['Price'].sum()
#find average total purchase per person per gender
avg_per = total_value/genders

#put all stats into summary dataframe
purchase_analysis_gender = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price' : avg_price,
    'Total Purchase Value' : total_value,
    'Avg Total Purchase per Person': avg_per
})

purchase_analysis_gender.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}",
    "Avg Total Purchase per Person":"${:,.2f}"
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [167]:
#bins for age groups
age_bins = [0,9,14,19,24,29,34,39,150]
#bin labels
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
#slice the players into age groups 
age_sliced = pd.cut(purchase_data['Age'], age_bins, labels=age_labels, include_lowest=True)
#add age group data to its own column
player_df['Age Group'] = age_sliced
#create a new DF grouped by age group
age_df = player_df.groupby('Age Group')
#find totals for each age group
age_totals = age_df['Purchase ID'].count()
#find percentage of total each age group makes up
age_perc = age_totals / player_df['SN'].count()
#summary DF
age_summary = pd.DataFrame({
    'Total Count': age_totals,
    'Percentage of Players': age_perc
})
#format percents
age_summary.style.format({
    'Percentage of Players': '{:,.2%}'
})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
#add age group data to purchase_data and then create a new DF grouped by age group
purchase_data['Age Group'] = age_sliced
purchase_data_age = purchase_data.groupby('Age Group')
#find average purchase count per age group
age_purchase_count = purchase_data_age['Item ID'].count()
#find the average purchase price per age group
age_avg_price = purchase_data_age['Price'].mean()
#find the total puchase value of each age group
age_total_value = purchase_data_age['Price'].sum()
#find the average total purchase per person
age_avg_per = age_total_value / age_totals
#create dataframe to display analysis
purchase_analysis_age = pd.DataFrame({
    'Purchase Count': age_purchase_count,
    'Average Purchase Price': age_avg_price,
    'Total Purchase Value': age_total_value,
    'Avg Total Purchase per Person': age_avg_per
})
#formatting currency 
purchase_analysis_age.style.format({
    'Average Purchase Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}",
    'Avg Total Purchase per Person': "${:,.2f}"
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [169]:
#create DF grouped by screen name
grouped_df = purchase_data.groupby('SN')
#find purchase count for each screen name
sn_purchase_count = grouped_df['Purchase ID'].count()
#find average purchase price of each screen name
sn_avg_price = grouped_df['Price'].mean()
#find total spent by each screen name
sn_total_value = grouped_df['Price'].sum()

#dataframe containing stats of top spenders
top_spenders_df = pd.DataFrame({
    'Purchase Count': sn_purchase_count,
    'Average Purchase Price': sn_avg_price,
    'Total Purchase Value': sn_total_value
})
#sort DF by largest total purchase value to smallest
top_spenders_df.sort_values('Total Purchase Value', ascending=False, inplace=True)

#output head with formatting
top_spenders_df.head().style.format({
    'Average Purchase Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}"
})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [170]:
#retrieve Item ID, Item Name, and Item Price
items_df = purchase_data[['Item ID', 'Item Name', 'Price']]
#group DF by Item ID, and Item Name
items_grouped = items_df.groupby(['Item ID', 'Item Name'])
#find number of times each item has been purchased
item_purchase_count = items_grouped['Item ID'].count()
#get item price by dividing the total purchase value by number of purchases
items_price = items_total_value / item_purchase_count
#get the total purchase value of each item
items_total_value = items_grouped['Price'].sum()
#DF containing stats on the most popular items
popular_items_df = pd.DataFrame({
    'Purchase Count': item_purchase_count,
    'Item Price': items_price,
    'Total Purchase Value': items_total_value
})
#sort DF by highest purchase count to lowest
popular_items_df.sort_values('Purchase Count', ascending=False, inplace=True)
#output head with formatting
popular_items_df.head().style.format({
    'Item Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}"
})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [171]:
#output head of same DF as above, as it was already sorted 
#and meets formatting conditions listed above
popular_items_df.head().style.format({
    'Item Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}"
})